edgefirst-client
edgefirst-schemas
mike
mkdocs-autorefs
mkdocs-awesome-nav
mkdocs-material
mkdocstrings-python
mkdocs-include-markdown-plugin
mkdocs-spellcheck[codespell,symspellpy]
pillow
cairosvg
black
click==8.2.1